scenario-builder {
    display: grid;
    grid-template-columns: [left] 1fr [middle] 800px [right] 1fr;
    #amp {
        grid-column-start: middle;
    }
    #scenarios {
        width: 300px;
        > scenario-list-item,
        > div {
            height: 32px;
            width: 100%;
            border: 1px outset #222222;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 8px;
            cursor: pointer;
        }
        .add-button > span {
            display: flex;
            align-items: center;
        }
    }
}
