scenario-list-item {
    user-select: none;
    > span {
        display: flex;
        align-items: center;
        span {
            display: inline-block;
        }
    }
    

    &.editing {
        input {
            border: none;
            outline: none;
        }
        &.selected {
            background: white;
        }
        .no-edit {
            display: none;
        }
    }
    &:not(.editing) {
        .edit-only {
            display: none;
        }
    }

    &.selected {
        background: #222222;
        font-weight: bold;
    }

    &.unselected {

    }
}
