scenario-list-item {
    user-select: none;

    &.editing {
        .no-edit {
            display: none;
        }
    }
    &:not(.editing) {
        .edit-only {
            display: none;
        }
    }

    &.selected {
        background: red;
    }

    &.unselected {

    }
}
