tab-container {
    >.header {
        display: flex;
        justify-content: space-evenly;
        >* {
            cursor: pointer;
            &.selected {
                font-weight: bold;
            }
            &.hidden {
                display: none;
            }
        }
    }
    >.tabs {
        >*:not(.selected) {
            display: none;
        }
    }
}
