amp-zone {
    border: 2px solid black;
    border-radius: 10px;
    width: 600px;
    margin: 4px;
    display: block;

    .header {
        display: flex;
        justify-content: space-evenly;
        input {
            width: 66%;
            text-align: center;
            &:not(:focus) {
                border: none;
                cursor: pointer;
            }
            &:focus {
                border: none;
                outline: none;
                background: #EEE;
                border-radius: 4px;;
            }
        }
    }
    .body {
        display: flex;
        .buttons,
        .sources {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .knobs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
