amp-zone {
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    height: 160px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.fixed {
        /*
        .header,
        .actions {
            button-input{
                visibility: hidden;
                pointer-events: none;
            }
        }
        */
        .hideable {
            visibility: hidden;
            pointer-events: none;
        }
    }
    &.editable {
        button {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &.inactive {
        background: #CCC;
    }

    >.header {
        display: flex;
        justify-content: space-evenly;
        input {
            width: 66%;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            background: transparent;
            &:not(:focus) {
                border: none;
                cursor: pointer;
            }
            &:focus {
                border: none;
                outline: none;
                background: #EEE;
                border-radius: 4px;;
            }
        }
    }
    .body {
        display: flex;
        flex-grow: 2;
        >.actions,
        >.buttons,
        >.sources {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        >.knobs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
