@import '../style.scss';

amp-zone {
    box-sizing: content-box;

    display: inline-block;
    background-image: linear-gradient(135deg,
            #CCCCCC,
            #000000);
    padding: 2px;
    width: 700px;
    height: 165px;

    &:nth-child(6n) {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        >div {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &:nth-child(6n+1) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        >div {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    &.fixed {
        .hideable {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &.editable {
        .fixed-only {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &.inactive {
        pointer-events: none;

        .overlay {
            background: #CCC;
            background: repeating-linear-gradient(-45deg,
                    #CCC,
                    #CCC 20px,
                    #AAA 20px,
                    #AAA 40px);
            width: 100%;
            height: calc(100% - 8px);
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 100;
            opacity: 0.25;
        }

        .enabler {
            pointer-events: all;
            z-index: 101;
        }
    }

    &.active .overlay {
        display: none;
    }

    >div {
        position: relative;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        margin: 0px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-image: linear-gradient(165deg,
                #333333,
                #282828);
        color: $font-color;
        text-transform: uppercase;
        font-size: 12px;
        padding-bottom: 12px;

        >.header {
            display: flex;
            justify-content: space-evenly;
            padding: 3px;

            input {
                width: 66%;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: $font-color;
                background: transparent;

                &:not(:focus) {
                    border: none;
                    cursor: pointer;
                }

                &:focus {
                    border: none;
                    outline: none;
                    background: #EEE;
                    border-radius: 4px;
                    ;
                    color: black;
                }
            }
        }

        .body {
            display: flex;
            flex-grow: 2;
            column-gap: 4px;

            >.actions,
            >.buttons,
            >.sources,
            >.knobs {
                display: flex;
                justify-content: space-between;
            }

            >.actions,
            >.buttons,
            >.sources {
                flex-direction: column;
            }

            >.knobs {
                flex-direction: row;
            }
        }
    }
}
