@import '../style.scss';

$border-radius: 6px;
$border-width: 1px;
$groove-width: 1px;
$shadow-width: 2px;
$background-color: $unit-background;
$shadow-color: rgba(0, 0, 0, 33%);
$groove-color: #000000;
$gradient-verydark: #111111;
$gradient-dark: #222222;
$gradient-medium: #444444;
$gradient-light: #777777;
$button-dark: #555555;
$button-light: #666666;

html {
    --button-size: 24px;
}

button-input {
    font-size: 12px;

    label {
        display: flex;
        align-items: center;

        * {
            box-sizing: border-box;
        }

        >.button {
            width: var(--button-size);
            height: var(--button-size);

            border-radius: $border-radius;
            padding: $border-width;
            background-image: linear-gradient(135deg,
                    $gradient-dark,
                    $gradient-light);

            >div {
                background: $groove-color;
                width: 100%;
                height: 100%;
                padding: $groove-width;
                border-radius: calc($border-radius - $border-width);

                >div {
                    border-radius: calc($border-radius - $border-width - $groove-width);
                    width: 100%;
                    height: 100%;
                    padding: $border-width;

                    >div {
                        width: 100%;
                        height: 100%;
                        border-radius: calc($border-radius - 2 * $border-width);
                    }
                }
            }

            &.unchecked>div>div {
                background-image: linear-gradient(135deg,
                        $gradient-light,
                        $gradient-verydark);

                >div {
                    background: radial-gradient(circle at 75% 75%, $button-light, $background-color);
                }
            }

            &.checked>div>div {
                background-image: linear-gradient(135deg,
                        $gradient-verydark,
                        $gradient-medium);

                >div {
                    border-left: $shadow-width solid $shadow-color;
                    border-top: $shadow-width solid $shadow-color;
                    background: radial-gradient(circle at 25% 25%, $button-dark, $background-color);
                }
            }

            .button-interior {
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
